<ion-view title="CALVin">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/aaqDJWskR3WkP02hTkWX_CALVin2.jpg" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <h3 align="center">Try CALvin, the brand new application from UCL that enables you to learn English pronunciation within a week!</h3>
        <div class="spacer" style="width: 283px; height: 47px;"></div>
        <a ui-sref="cALVin2" class="button button-calm button-block button-large icon-right ion-android-open">Try it out!</a>
        <div class="spacer" style="width: 283px; height: 27px;"></div>
        
        <p align="center">
            <a ui-sref="about" class="button button-calm button-outline ">About</a>
            <a ui-sref="contactUs" class="button button-calm button-outline ">Contact Us</a>
            <a ui-sref="fAQs" class="button button-calm button-outline ">FAQs</a>
        </p>
        
        <div class="spacer" style="width: 283px; height: 37px;"></div>
        <div>
            <p align="center">
                <b>
                    © 2016, UCL Dept of Speech Hearing
                </b>
            </p>
        </div>
    </ion-content>
</ion-view>