<ion-view title="High Front">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3 align="center">Practice by pronouncing the belowe examples</h3>
        <div class="spacer" style="width: 283px; height: 19px;"></div>

        <button class="button button-calm button-block button-large" onclick="playAudio('http://audio.ibeat.org/content/p1rj1s/p1rj1s_-_rockGuitar.mp3')">Heed</button>
        <button class="button button-calm button-block button-large">Hid</button>
        <button class="button button-calm button-block button-large">Head</button>
        <div class="spacer" style="width: 283px; height: 30px;"></div>
        <h3 align="center">Extra practice!</h3>
        <button class="button button-calm button-block ">Sound1</button>
        <button class="button button-calm button-block ">Sound2</button>
    </ion-content>
</ion-view>